<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrbaCommerce.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Settings.CadenaDeConexion" connectionString="Password=gd2014;Persist Security Info=True;User ID=gd;Initial Catalog=GD1C2014;Data Source=localhost\SQLSERVER2008" />
    </connectionStrings>
    <userSettings>
        <FrbaCommerce.Settings>
            <setting name="FechaSistema" serializeAs="String">
                <value>2013-01-01</value>
            </setting>
        </FrbaCommerce.Settings>
    </userSettings>
</configuration>